#Generic useless stuff
z.*
__*
*~
temp*
tmp*
*.swp
*archive*



#Output and big files.
*DEBUG*
*OUTPUT*
out*.txt  
#But I might override out*.txt sometimes
*.zip
*.zip.*
*.wav
Aaron*
aero_*
*.bin
*.bin.?

#Stuff I just didn't find useful
translation/anu*
